.page-title {
  text-align: center;
  margin: 20px 0;
}

.page-title h1 {
  font-size: 24px;
  color: #543d54;
}
.table-container {
  overflow-y: auto;

  .table-wrapper {
    overflow-x: auto;

    table {
      max-width: 100%;
      border-collapse: collapse;
      overflow: auto; // Adiciona uma barra de rolagem à tabela

      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }

      th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0; // Fixa o cabeçalho no topo
      }

      .mat-column-Descricao {
        width: 70%; // Ajuste o valor conforme necessário
      }

      .mat-column-Acoes {
        width: 30%; // Ajuste o valor conforme necessário
        vertical-align: middle;
      }
    }
  }
}
