<div class="page-title">
  <h1>Gerenciamento de Serviços</h1>
</div>

<div class="row">
  <div class="col d-flex align-items-end">
    <p
      (click)="adicionarServico()"
      style="cursor: pointer; margin-bottom: 10px; margin-top: 20px"
    >
      <i class="fas fa-plus-circle" style="color: #543d54; font-size: 15px"></i>
      Adicionar Serviço
    </p>
    <button
      style="margin-left: 5px"
      mat-icon-button
      [disabled]="!this.selectedRows.length"
      (click)="atualizarValores()"
      color="accent"
      aria-label="Atualizar valores"
      matTooltip="Atualizar Valores"
    >
      <mat-icon class="d-flex">currency_exchange</mat-icon>
    </button>
    <button
      style="margin-left: 5px"
      mat-icon-button
      color="accent"
      (click)="gerarExcel()"
      aria-label="Exportar"
      matTooltip="Exportar"
    >
      <mat-icon class="d-flex">content_paste_go</mat-icon>
    </button>
  </div>
</div>
<div class="table-container">
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSourceServicos">
      <ng-container matColumnDef="selecionar">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="headerCheckboxChange($event)"
            [checked]="selectedRows.length === dataSourceServicos.data.length"
            [indeterminate]="
              selectedRows.length > 0 &&
              selectedRows.length < dataSourceServicos.data.length
            "
          ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-checkbox
            (change)="rowCheckboxChange($event, element)"
            [checked]="isSelected(element)"
          ></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="Descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.descricao }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.valor | currency : "BRL" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Duracao">
        <th mat-header-cell *matHeaderCellDef>Duração</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.duracao }} {{ " minutos" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Ativo">
        <th mat-header-cell *matHeaderCellDef>Ativo</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.ativo == "S" ? "Sim" : "Não" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button
            mat-icon-button
            color="accent"
            aria-label="Editar Registro"
            (click)="adicionarServico(element, i)"
          >
            <mat-icon class="d-flex">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="accent"
            aria-label="Excluir Registro"
            (click)="removerServico(element)"
          >
            <mat-icon class="d-flex">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsServicos"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsServicos"></tr>
    </table>
  </div>
</div>
