<form [formGroup]="formasPagamentoForm" (submit)="adicionarFormaPagamento()">
  <div class="modal-content">
    <div class="page-title mb-3">
      <mat-icon inline="true" class="mr-1">{{ icon }}</mat-icon>
      <h3 style="margin-left: 10px">{{ title }}</h3>
    </div>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Descrição</mat-label>
      <input
        matInput
        placeholder="Descrição"
        formControlName="descricao"
        type="text"
      />
      <mat-error
        style="font-size: 11px"
        *ngIf="formasPagamentoForm.get('descricao').hasError('required')"
      >
        Dado obrigatório.
      </mat-error>
    </mat-form-field>

    <div class="modal-actions mt-2">
      <button
        mat-raised-button
        color="accent"
        style="margin-right: 10px"
        type="submit"
        [disabled]="formasPagamentoForm.invalid"
      >
        Confirmar
      </button>
      <button
        mat-stroked-button
        color="accent"
        type="button"
        (click)="fecharModal()"
      >
        Fechar
      </button>
    </div>
  </div>
</form>
