.page-title {
  text-align: start;
  display: flex;
}

.page-title h3 {
  font-size: 20px;
  color: #000000;
}

.modal-content {
  padding: 20px;
}

.table-container {
  overflow-y: auto;

  .table-wrapper {
    overflow-x: auto;

    table {
      max-width: 100%;
      border-collapse: collapse;
      overflow: auto; // Adiciona uma barra de rolagem à tabela

      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }

      th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0; // Fixa o cabeçalho no topo
      }
    }
  }
}
