<form [formGroup]="recuperarSenhaForm" (submit)="recuperarEmail()">
  <div class="modal-content">
    <div class="page-title mb-3">
      <mat-icon inline="true" class="mr-1">{{ icon }}</mat-icon>
      <h3 style="margin-left: 10px">{{ title }}</h3>
    </div>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error
        style="font-size: 11px"
        *ngIf="recuperarSenhaForm.get('email').hasError('required')"
      >
        Dado obrigatório.
      </mat-error>
      <mat-error
        style="font-size: 11px"
        *ngIf="
          recuperarSenhaForm.get('email').hasError('email') &&
          !recuperarSenhaForm.get('email').hasError('required')
        "
      >
        E-mail inválido.
      </mat-error>
    </mat-form-field>

    <div class="modal-actions mt-2">
      <button
        mat-raised-button
        color="accent"
        style="margin-right: 10px"
        type="submit"
        [disabled]="recuperarSenhaForm.invalid"
      >
        Confirmar
      </button>
      <button
        mat-stroked-button
        color="accent"
        type="button"
        (click)="fecharModal()"
      >
        Fechar
      </button>
    </div>
  </div>
</form>
